{% extends "projectapp/base.html" %}


{% block content %}
  <h1>Student Detail</h1>
  <p>Name: {{ student.first_name }} {{ student.last_name }}</p>
  <p>Primary University: {{ student.primary_university }}</p>
  <p>Universities Attended:</p>
  <ul>
    {% for university in student.universities_attended.all %}
      <li>{{ university.name }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'student-update' student.pk %}">Update</a>
  <a href="{% url 'student-delete' student.pk %}">Delete</a>
  <a href="{% url 'student-list' %}">Back to Student List</a>
{% endblock %}
