{% extends "productapp/base.html" %}

{% block body_block %}

<h1>List's Products</h1>
<hr>

<table border="2">
    <thead>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Product is_available </th>
        <th>Actions</th>
    </thead>
    <tr>
        {% for product in products %}
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.is_available}}</td>
        <td>
            <a href="{% url 'product_detail' id=product.id %}">Details</a>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>








{% endblock %}